/* Divisions */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float:left;
  padding: 15px;
}

/* Mobile View */
@media only screen and (max-width: 600px) {
  body {
      [class*="col-"] {
          width: 100%;
      }
  }
}

* {
  margin: 0px;
  padding: 0px; 
  outline: none;
  border: 0px;
  font-family: Blippo, fantasy;
  font-size: 3vh;
  color: #dee2e2;
  letter-spacing: 1px;
}

/* gradient  */
/* html, body {
  background-image: linear-gradient(to right,#0f151a, #0f151a, #0f151a, #20272f);
} */

/* hide scroll bar */
.hideScroll::-webkit-scrollbar {
    display: none;
}

.screen {
  position: absolute;
  position: 0;
  height: 100vh;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
    
.screenDiv {
  display: inline-block;
  height: 100vh;
  /*156.25 because 1920x1080 size in proportion the width is 56.25% bigger than the length*/
  width: 156.25vh;
  white-space: nowrap;
  background-color: #0f151a;
}

.homeDivs {
  float: left;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-color: #0f151a;
}

.home {
  margin-left: 12vw;
  background-image: url("../Images/1.png");
}

.catalogue {
  background-image: url("../Images/1.png");
}

.about {
  background-image: url("../Images/2.png");
  background-color: #3a5367;
}

.profile {
  background-image: url("../Images/3.png");
}

/* Center Element */
.center {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.sidebar {
  position: fixed;
  z-index: +999;
  left: 0px;
  height: 100%;
  width: 10%;
  background-color: #0f151a;
  text-align: center;
}

hr.solid {
  margin: 2vw;
  border-top: 3px solid #dee2e2;
}

.homeButton {
  border-radius: 15px;
  text-align: center;
  background-color:#658478;
  color:#dee2e2;
  margin-top: 1em;
  padding: 5px;
}

.navHomeButton {
  text-align: center;
  background-color:transparent;
  color:#dee2e2;
}

.catalogueInteract {
  border-radius: 15px;
  position:relative;
  top: 6.5em;
  text-align: center;
  height: 12.5%;
  width: 35%;
  margin-bottom: 1em;
  margin-right: 1em;
  font-size: 7.5vh;
  background-color: #20272f;
}

.aboutInteract {
  border-radius: 15px;
  position:relative;
  top: 2em;
  right: 9em;
  text-align: center;
  height: 34.5%;
  width: 38%;
  margin-bottom: 1em;
  margin-right: 1em;
  font-size: 7.5vh;
  background-color: #20272f;
}

.profileInteract {
  border-radius: 15px;
  position:relative;
  top: 6em;
  right: 8em;
  text-align: center;
  height: 12.5%;
  width: 20%;
  margin-bottom: 1em;
  margin-right: 1em;
  font-size: 7.5vh;
  background-color: #20272f;
}

/* Footer */
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 5%;
  width: 90%;
  background-color:  #0f151a;
}

ul.breadcrumb {
  padding: .25em;
  list-style: none;
  background-color: #0f151a;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  padding-left: 9em;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #dee2e2;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #658478;
}

.logo {
  position: fixed;
  left: 1%;
  top: 1%;
}

.navButtons {
  text-align: center;
  background-color:#658478;
  color:#dee2e2;
  margin-top: 1vw;
  padding: 5px;
  margin-left: 100px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar
{
	width: 1em;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #dee2e2;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(15, 21, 26, .5);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #dee2e2;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: #dee2e2;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #dee2e2;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  border-radius: 15px;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #dee2e2;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #dee2e2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: #0f151a;
  padding: 2px 16px;
  color: #dee2e2;
}